    * {
        margin: 0;
    }
    
    html,
    body {
        height: 100%;
        font-family: Arial, Helvetica, sans-serif
        
    }
    
    .wrapper {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin: 0 auto -4em;
    }
    
    .footer,
    .push {
        height: 4em;
    }
    
    body {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        list-style: none;
        height: auto;
        list-style: none;
        padding: 10px;
        background: #fff;
        margin-top: 60px;
    }
    
    #conteudo {
        display: table;
        height: auto;
        margin: 0 auto;
    }
    
    #header {
        background-image: url("../img/back.png");
        background-color: #3e4c9e;
        position: fixed;
        top: 0;
        left: 0;
        height: 44px;
        width: 100%;
        z-index: 5000;
        margin: 0;
    }
    
    #header img.logo {
        width: 181px;
        height: 44px;
        margin-left: 40%;
    }
    
    #cabecalho {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    
    footer {
        width: 100%;
    }
    
    #footer {
        background-image: url("../img/back.png");
        background-color: rgb(41, 40, 40);
        bottom: 0;
        left: 0;
        position: absolute;
        height: 44px;
        border-bottom: 24px solid rgb(41, 40, 40);
        width: 100%;
        z-index: 5000;
        margin: 0;
    }
    
    #footer img.logo {
        width: 181px;
        height: 44px;
        margin-left: 40%;
    }
    
    #Footer-conteudo {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    
    #tabela {
        margin-top: 20px;
    }
    
    .InfoCalculo {
        margin-top: 20px;
        width: auto;
        height: auto;
        padding: 10px;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        transition: 0.2s
    }
    
    #InfoCalculo {
        transition: 0.2s;
    }
    
    .InputForm {
        width: 95%;
        box-sizing: border-box;
        border: 1px solid #ccc;
        margin: 10px;
        display: block;
        height: 35px;
        background: #fafafa;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
        -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
        box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        padding: 0 20px;
        font-size: 16px;
        color: #666;
        box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.08);
        line-height: 50px;
        transition: 0.2s;
    }
    
    .zui-table {
        border-collapse: collapse;
        border-spacing: 0;
        font: normal 13px Arial, sans-serif;
        border-radius: 10px;
        overflow: hidden;
        box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
        transition: 0.2s;
    }
    
    .zui-table thead th {
        background-color: #012a93;
        border: solid 1px #012a93;
        color: #fff;
        padding: 10px;
        text-align: left;
        font-size: 15px;
        transition: 0.2s;
    }
    
    .zui-table tbody td {
        color: #808080;
        padding: 10px;
        text-shadow: 1px 1px 1px #fff;
        font-size: 15px;
        transition: 0.2s;
    }
    
    .zui-table tbody tr:nth-child(even) {
        background-color: #f8f6ff;
    }
    /* input[type=text] {
        width: 80%;
        box-sizing: border-box;
        border: 1px solid #ccc;
        -webkit-border-top-left-radius: 10px;
        -webkit-border-bottom-left-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-bottomleft: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-size: 16px;
        height: 35px;
        background-color: white;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 10px;
    } */
    
    input:focus,
    select:focus {
        box-shadow: 0 0 0 0;
        border: 0 none;
        outline: 0;
        border: 1px solid #ccc;
        background-color: rgb(247, 247, 247);
        transition: 0.2s;
        box-shadow: 1px #ccc;
    }
    
    .BTcalculo {
        display: inline-block;
        border: none;
        height: 35px;
        /* -webkit-border-top-right-radius: 10px;
        -webkit-border-bottom-right-radius: 10px;
        -moz-border-radius-topright: 10px;
        -moz-border-radius-bottomright: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px; */
        color: #fff;
        width: 100px;
        background-color: #012a93;
        cursor: pointer;
        font-family: 'Raleway', sans-serif;
        font-weight: 300;
        line-height: 1.5;
        letter-spacing: 1px;
        padding: .5em 1.5em .75em;
        position: relative;
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.25);
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        user-select: none;
    }
    
    #BTcalculo_Calcular {
        margin: 10px;
    }